.principal{
    margin-left: 5%;
    margin-right: 5%;
}
.cont-1{
    border-color: #19b526 !important;
    background-color: #006cc4;
    border-collapse:separate;
    border-radius:12px !important;}