#container{
    text-align: center;
    margin-top: 3em;
    background: rgb(255, 255, 255);
    width: 35em;
    height: 100%;
    max-width: 200em;
    min-width: 20em;
}

#submit_btn{
    margin-top: 2em;
}

#bienvenido{
    margin-bottom: 1.3em;
}

#formulario{
    padding-top: 1em;
    padding-bottom: 3em;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    
}


#c3{
    margin-top: 1em;
}